@import 'mixins.scss';

$min-width: 320px;

// fonts
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,700;1,400&display=swap');
// @import 'fonts.scss';
$font-family: 'Lato';

@import 'reset.scss';
@import 'ibg.scss';

@import 'components/_header.scss';
@import 'components/_body.scss';

.page {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    @include flexbox();
    flex-direction: column;
}

.main-screen {
    flex: 1 0 100%;
    position: relative;
    
    &__bg {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }
}

// .content {
//     margin: 0 auto;
// }

.wrapper {
    overflow: hidden;
    min-height: 100%;
    // width: 100%;
}

.container {
    max-width: 1130px;
    padding: 0 15px;
    margin: 0 auto;
    width: 100%;
}